<div id="topnav">
    <h1 id="title" onclick="window.location.href = '..'">
      Tic-Tac-Toe:
    </h1>
    <a id="leaderboard" href="/leaderboard" class="<%- classLeader %>">Leaderboard</a>
    <a id="<%- id %>" href="/<%- id %>" class="<%- classUser %>"><%- text %></a>
    <a id="settings" class="fa fa-gear" href="/settings"></a>
</div>
